<div class="container">
    <div ng-transclude></div>
  <form name="loginForm" role="form" class="login-form" ng-submit="login(dto)">
    <div class="login-wrap">
        <p class="login-img"><img src="img/logomarca.jpg" width="130px" style="padding:1px; border:1px solid #021a40;"></p>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="login" 
                       type="text" 
                       class="form-control" 
                       placeholder="Digite o login do usuário"
                       ng-model="dto.login"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input id="senha"
                       type="password"
                       class="form-control"
                       placeholder="Digite a senha do usuário"
                       ng-model="dto.senha"
                       required>
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
	  </div>
	</form>
</div>