<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-laptop"></i><strong> Dashboard</strong></h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="fa fa-laptop"></i>Dashboard</li>						  	
		</ol>
	</div>
</div>

<!-- <div class="row">
	<div class="panel">
	   <header class="panel-heading"> Cadastros </header>
	   <div class="panel-body">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
				style="cursor: pointer;" ng-click="openView('cadastroFuncionario')">
				<div class="info-box dark-bg">
					<i class="icon_id"></i>
					<div class="count"></div>
					<br />
					<div class="title">Cadastro de Funcionários</div>
				</div>				
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
				style="cursor: pointer;" ng-click="openView('cadastroEmpresa')">
				<div class="info-box dark-bg">
					<i class="fa fa-building-o"></i>
					<div class="count"></div>
					<br />
					<div class="title">Cadastro de Empresas</div>
				</div>				
			</div>			

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
				style="cursor: pointer;" ng-click="openView('cadastroLocacao')">
				<div class="info-box dark-bg">
					<i class="icon_building"></i>
					<div class="count"></div>
					<br />
					<div class="title">Cadastro de Locações</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
				style="cursor: pointer;" ng-click="openView('cadastroCargo')">
				<div class="info-box dark-bg">
					<i class="icon_clipboard"></i>
					<div class="count"></div>
					<br />
					<div class="title">Cadastro de Cargos</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
				style="cursor: pointer;" ng-click="openView('administracaoUsuario')">
				<div class="info-box dark-bg">
					<i class="icon_group"></i>
					<div class="count"></div>
					<br />
					<div class="title">Adm. de Usuários</div>
				</div>
			</div>
		</div>
    </div>	
</div> -->

<!-- <div class="row">
    <div class="panel">
       <header class="panel-heading"> Consultas </header>
       <div class="panel-body">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                style="cursor: pointer;" ng-click="openView('consultaFuncionario')">
                <div class="info-box dark-bg">
                    <i class="icon_id"></i>
                    <div class="count"></div>
                    <br />
                    <div class="title">Consulta de Funcionários</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                style="cursor: pointer;" ng-click="openView('consultaEmpresa')">
                <div class="info-box dark-bg">
                    <i class="fa fa-building-o"></i>
                    <div class="count"></div>
                    <br />
                    <div class="title">Consulta de Empresas</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                style="cursor: pointer;" ng-click="openView('consultaLocacao')">
                <div class="info-box dark-bg">
                    <i class="icon_building"></i>
                    <div class="count"></div>
                    <br />
                    <div class="title">Consulta de Locações</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                style="cursor: pointer;" ng-click="openView('consultaCargo')">
                <div class="info-box dark-bg">
                    <i class="icon_clipboard"></i>
                    <div class="count"></div>
                    <br />
                    <div class="title">Consulta de Cargos</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                style="cursor: pointer;" ng-click="openView('administracaoUsuario')">
                <div class="info-box dark-bg">
                    <i class="icon_group"></i>
                    <div class="count"></div>
                    <br />
                    <div class="title">Adm. de Usuários</div>
                </div>
            </div>
        </div>
    </div>  
</div> -->